langchain
langchain-community
langchain-ollama
langgraph

autogen-agentchat
autogen-ext[ollama]

ollama

chromadb
pypdf
tiktoken

fastapi
uvicorn

streamlit

python-dotenv
pydantic

sentence-transformers
numpy
pandas

neo4j
rank-bm25
networkx
openpyxl
